{% extends "base.html" %}

{% block content %}
    <h3>{{ location.name }} Detail</h3>

    <p>
        <span class="text-info">Name: </span> <span>{{ location.name }}</span>
        <br>
        <span class="text-info">Events: </span><span>{{ events.count }}</span>
        <br>
        <span class="text-info">Description: </span><span>{{ location.description }}</span>
    </p>

    {% if location.events %}
        <h4>{{ Events }}</h4>
            <div class="grid-container">
                {% for event in location.events.all %}
                    <div>
                        <a href="{{ event.get_absolute_url }}">{{ event.date }}</a>
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}
